<div class="container">
    <header>
        <h1>Todo App</h1>
    </header>

    <main>
       
        <div class="filters">
            <ul>
                <li>Pendientes</li>
                <li>Completadas</li>
            </ul>
        </div>

        <div class="button-container">
            <button class="new-todo">New To-Do</button>
        </div>

        <div class="todos">

            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>

            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
            <div class="todo">
                <div class="options"></div>
                <h3>Pasear al perro</h3>
                <p class="description">asdkjasdas adhsad adasd asdasdsd asdasd asdas</p>
            </div>
        </div>

    </main>
</div>