.add-todo{
    display: flex;
    width: 100%;
    padding: 8px 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    input{
        border: none;
        width: 100%;
        font-size: 20px;
        &::placeholder{
            font-size: 20px;
        }
        &:focus{
            outline: none;
        }
    }

    button{
        border: none;
        padding: 8px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
        background-color: rgb(73, 104, 225);
    }
}