.todo{
    background-color: white;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    &.important{
        box-shadow: -2px 1px 3px rgba(240, 164, 23, 0.955);
    }
    .todo-text{
        display: flex;
        gap: 12px;
        font-size: 18px;
        align-items: center;
        .input-check{
            width: 24px;
            height: 24px;
            border: 1px solid rgb(186, 186, 186);
            border-radius: 50%;
            cursor: pointer;
            &:hover{
                background-color: rgb(246, 246, 246);
            }
            &.complete{
                background-color: rgb(55, 102, 229);
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
        p {
            &.complete {
                text-decoration: line-through;
                color: gray;
                
            }
        }
    }
    

    .todo-actions{
        display: flex;
        gap: 12px;
        align-items: center;

        button {
            background-color: white;
            border: none;
            cursor: pointer;

            .important{
                color: orange;
            }

            .delete {
                color: rgb(230, 88, 88);
            }
            
        }
    }
}